body {
    
    margin: 0;
    padding: 0;

    font-family:  "Roboto", "Arial", "sans-serif";
    font-family: 'Nunito', sans-serif;

    font-size: 14px;
    line-height: 24px;
    color: #474242;


    background-color: #ffffff;
    background-position: top center;
    max-width: 2400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

.main-navigation a {
    text-decoration: none;
}

.main-navigation {
  
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #474242;
    text-transform: uppercase;
}

.site-navigation  {
    list-style: none;
}

.site-navigation a  {
    color: #474242;
}

.nav-tel a {
    color: #474242;
}

.button {
    padding: 0;
    margin: 0;
}

.feedback-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    
    margin-top: 6px;
   
    padding: 60px 510px;

    width: 150px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background: linear-gradient(to right, #2e962e 20%, #48db0ed3 70%);
    border: none;
    
    cursor: pointer;
}

.feedback-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #2e962e;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-menu-tomorrow {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #2e962e;
    margin-top: 20px;
    padding: 10px 20px;
    
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/*Навигация*/


.main-header {   
    margin: 0;
    padding: 0; 
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-container {   
    max-width: 1200px;

    margin-top: 15px;
}

.main-navigation {     
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    padding: 0;
    margin: 0;
   
}

.main-header-logo {
    padding: 0;
    margin: 0px 100px 0px 0px;
   
 }

.site-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.all-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    
}

.site-navigation li {
    margin: 0;
    padding: 0;
    margin-right: 46px;
}

.nav-tel {
    padding: 0;
    margin: 0;
    
    position: relative;
    text-decoration: none;
    list-style: none;
    
    font-size: 16px;
    font-weight: 700;
}

.footer-tel { 
    font-size: 14px;
}

.nav-tel a {
    text-decoration: none;
}

.nav-tel::before {
    position: absolute;
    content: "\f095";
    font-family: "FontAwesome";
    color: #2e962e;

    top: 1px;
    left: -20px;
    width: 15px;
    height: 15px;
}

.nav-active {
    border-bottom: 1px solid #2e962e;
}

/*Slider*/

.slider-container {
    
    background-image: url("../img/cnt/wood.jpg");
    background-position: left;
    background-size: cover;

    min-height: 460px;
}

.slider {
    position: relative;
    margin-top: 15px;
    
  }

.slider-dots-wrp {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -102px;
    text-align: center;
}
  
.slider-dot {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 7px;
    background: #fff;
    border: 5px solid #fff;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}
  
.slider-dot::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    top: 2px;
    right: 2px;
}
  
  
.slider-text-1 {
    padding-top: 38px;
    padding-bottom: 78px;
    
    width: 50%;
    margin: 0 auto;

    text-align: center;
    color: #474242;
}

.slider-text-2 {
    padding-top: 38px;
    padding-bottom: 78px;

    width: 50%;
    margin: 0 auto;
    
    text-align: center;
    color: #474242;
}
  
.slider-text-3 {
    padding-top: 38px;
    padding-bottom: 78px;
  
    width: 40%;
    margin: 0 auto;
    
    text-align: center;
    color: #474242;
}

.slider input[type=radio] {
    display: none;
}
  
#btn-1:checked ~ .slider-dots-wrp .slider-dot[for="btn-1"],
#btn-2:checked ~ .slider-dots-wrp .slider-dot[for="btn-2"],
#btn-3:checked ~ .slider-dots-wrp .slider-dot[for="btn-3"] {
    background: #000000;
}
  
.slider-item:nth-child(1) {
    background-image: url("");
    background-repeat:no-repeat;
    background-position: 430px 17px;
    background-size: 300px 400px;
    
}
  
.slider-item:nth-child(2) {
    background-image: url("");
    background-repeat:no-repeat;
    background-position: 100% 28px;
}
  
.slider-item:nth-child(3) {
    
    background-image: url("");
    background-repeat:no-repeat;
    background-position: 100% 28px;
}
  
.slider-item {
    display: none;
}
  
#btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
.slider-title {
    display: block;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    padding: 0;
    padding-bottom: 10px;
   
    margin: 0;
}

.slider-slogan {
    font-size: 20px;
    line-height: 24px;
    color: #474242;
}

/*Main COlumn*/

.main-container {
   
}

.main-column {
    flex: 0 1 33.333%;
    overflow: hidden;
    margin: 15px;
    box-sizing: border-box;
    
    border-radius: 10px;
}

.row-advantages {
    background-color: #b8eee238;
}

.main-item {
    padding: 0 20px;
}

.main-slogan {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
}
.slogan-pink p:first-child {
    margin-bottom: 0px;
}
.slogan-pink P:last-child {
    margin-top: 20px;
}

.fix-200 {
    font-size: 70px;
}

.violet-column {
    background-color: #dc91d8;
    color: #fff;
}

.green-column {
    background-color: #8ed78f;
    color: #fff;
}

.pink-column {
    background-color: #3bbce3;
    color: #fff;
}

.wrapper-menu-tomorrow {
    width: 100%;
    margin-bottom: 60px;
}

.menu-tomorrow {
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-tomorrow-slogan {
    position: relative;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
}

.menu-tomorrow-slogan::after {
    position: absolute;
    content: "";

    top: 35px;
    left: -210px;

    width: 200px;
    height: 2px;
    border-radius: 20px;
    background-color: black;
}

.menu-tomorrow-slogan::before {
    position: absolute;
    content: "";

    top: 35px;
    left: 310px;

    width: 200px;
    height: 2px;
    border-radius: 20px;
    background-color: black;
}

.main-menu-list {
    list-style: none;

    font-size: 26px;
    line-height: 25px;
    font-weight: 400;
}

/*Ховеры*/

.main-header-logo img:hover {
    opacity: 80%;
}

.main-header-logo img:active {
    opacity: 30%;
}

.social-button:hover {
    background-color: #2e962e;
}

.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.site-navigation a:hover {
    color: #2e962e;
}

.site-navigation a:active {
    color:rgba(0, 0, 0, 0.3);
}

.user-basket:hover {
    color: #2e962e;
}

.user-basket:active {
    color: rgba(0, 0, 0, 0.3);
}


.feedback-link:hover,
.feedback-link-1:hover,
.feedback-link-2:hover,
.feedback-button:hover,
.button-menu-tomorrow:hover {
    background-color: #174117;
    box-shadow: inset 0px 4px 0px 0px rgba(0, 1, 1, 0.1);
}

.feedback-link-1:active,
.feedback-link:active,
.feedback-link-2:active,
.feedback-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px o 0 rgba(0, 1, 1, 0.1);
}



/*Фидбэк*/

.feedback h2 {
    margin-top: 53px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #474242;
}

.feedback .your-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #474242;
}

.feedback-contacts li {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 0;  
}

.feedback-contacts input[type="text"] {
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.5);
}

.feedback-contacts input[type="tel"]:invalid {
    border-color: #e74246;
}

.your-text textarea {
    padding: 14px;
}

.feedback-area {
    box-sizing: border-box;
    
    margin-top: 12px;
    padding-left: 16px;
    padding: 0;
    width: 620px;
    height: 118px;
    border: 2px solid #d7dcde; 
    border-radius: 3px;
    outline: none;
}

.login-area { 
    padding: 14px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-right: 20px;

    width: 300px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px; 
    outline: none;
}
.contact-tel .tel-area:invalid {
    box-shadow: none;
    color: #e74246;
    border: 2px solid #e74246;
}

.tel-area { 
    box-sizing: border-box;
    margin-top: 12px;
    padding: 14px;
    width: 300px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.login-area:hover,
.feedback-area:hover,
.tel-area:hover {
    border: 2px solid #b4b9bb;
}

.login-area:focus,
.feedback-area:focus,
.tel-area:focus {
    border: 2px solid #000000;
}

.feedback {
    position: relative;
    width: 100%;

    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    position: fixed;
    display: none;
    top: 23%;
    left: 50%;
    margin-left: -360px;

    width: 720px;
    height: 500px;
    
    z-index: 20;

    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
    display: block;   
    animation: bounce 0.6s;
}
.modal-error {
    animation: shake 0.6s;
}

.modal-close {
    top: 60px;
    left: 645px;
    position: absolute;
    width: 21px; 
    height: 21px;
    position: absolute;
    cursor: pointer;

    background-image: url("../img/dec/close-cross.png");
    background-repeat: no-repeat;
    opacity: 1;
    border: 0;
    background-color: rgb(253, 255, 253);
}

.modal-close:hover {
    opacity: 0.8;
}

.modal-close:active {
    opacity: 0.1;
}

.feedback-contacts {
    padding: 0;
    margin-left: 50px;
    margin-top: 0px;
    width: 620px;
    display: flex;  
    list-style: none;
    justify-content: space-between;
    list-style: none;
}

.your-name {
    display: flex;
    flex-direction: column;
}

.your-mail {
    display: flex;
    flex-direction: column;
}

.your-text {
    width: 600px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 27px;
}

/*feedback 750*/


/*Menu*/ 

.row {
    display: flex; 
 }
 
.column {
    flex: 0 1 33.333%;
   
    margin: 15px;
    box-sizing: border-box;
    position: relative;
    
    border-radius: 20px;
    
    
 }
 
 .column::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 150px;
    background-color: #29a12d;
    border-radius: 120%;
    top: 80px;
    right: -18px;
 }
 
 .column:last-child::after {
    content: none;
 }

.menu {
    text-align: center;
    
    background-color: rgb(253, 255, 253);
    box-shadow: 0px 0px 10px 1px rgba(0, 1, 1, 0.75);
    background-image: url("../img/dec/background1.png");
   
}

.menu-container {
    padding: 15px 15px 15px 15px;
}

.menu-slogan {
    position: relative;
    text-transform: uppercase;
    
    padding: 20px 0px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 30px;
}

.menu-wrap { 
    align-items: center;
   
    color: #474242;
    
    background-color: rgb(226, 226, 224);
    box-shadow: inset 0px 2px 3px 0px #c1c4c0;
}

.menu-slogan::before {
    position: absolute;
    content: "";
    width: 90px;
    height: 3px;
    top: 75px;
    left: 50%;
    margin-left: -50px;
    background-color: #29a12d;
    border-radius: 52px;
}

.menu-item {
    padding: 20px;
}

.menu-item-text h3 {
    margin: 0;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 22px;
    line-height: 30px;

    color: #474242;

}

.menu-item-text p {
    margin: 0;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 30px;

    color: #585252;
}


/*Delyvery*/

.delivery {  
    padding: 15px 15px;

    font-size: 16px;
    line-height: 25px;
    font-weight: 400;

}

.delivery-container {
    display: flex;
    flex-direction: column;
   
   
    background-image: url("../img/dec/background1.png");
    background-color: rgb(253, 255, 253);
    box-shadow: 0px 0px 10px 1px rgba(0, 1, 1, 0.75);
   
    box-sizing: border-box;

}

.delivery-title  {
    position: relative;

    padding: 20px 0px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 700;

    color: #474242;
    background-color: rgb(226, 226, 224);
    box-shadow: inset 0px 2px 3px 0px #c1c4c0;
    text-align: center;
    text-transform: uppercase;
}

.delivery-list {
    padding: 0px;
    margin: 0px 180px;
}

.delivery-list-2 {
    position: relative;
    margin-bottom: 40px;
    list-style: none;
}

.delivery-list-1 {
    margin-bottom: 40px;
}

.delivery-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    top: 75px;
    left: 50%;
    margin-left: -30px;
    background-color: #29a12d;
    border-radius: 52px;
}


.delivery-item {
    margin-left: 28px;
    margin-bottom: 20px;
    position: relative;
    list-style: none;
}

.delivery-item-2 {
    margin-left: 28px;
    margin-bottom: 20px;
    position: relative;
    list-style: none;
}

.delivery-item::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 7px;
    left: 5px;
    margin-left: -30px;
    background-color: #29a12d;
    border-radius: 52px;
}

.delivery-item-2::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 7px;
    left: 5px;
    margin-left: -30px;
    background-color: #29a12d;
    border-radius: 52px;
}

.map-delivery {
    width: 555px;
    
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #d1d6d1;
}

/*Contacts*/

.contacts {
    padding: 15px 15px;

    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

.contacts-container {
    display: flex;
    flex-direction: column;
   
    background-image: url("../img/dec/background1.png");
    background-color: rgb(253, 255, 253);
    box-shadow: 0px 0px 10px 1px rgba(0, 1, 1, 0.75);
   
    box-sizing: border-box;
    text-transform: uppercase;

}

.contacts-title  {
    position: relative;

    margin-bottom: 40px;
    padding: 20px 0px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 700;

    color: #474242;
    background-color: rgb(226, 226, 224);
    box-shadow: inset 0px 2px 3px 0px #c1c4c0;
    text-align: center;
}

.contacts-list {
    padding: 0px;
    margin: 0px;
    
    margin: 0px 180px;
}

.contacts-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    top: 75px;
    left: 50%;
    margin-left: -30px;
    background-color: #2e962e;
    border-radius: 52px;
}

.contacts-item-address p {
    position: relative;
}

.contacts-item-address p::before {
    position: absolute;
    content: "\f041"; 
    font-family: "FontAwesome";
    color: #aaaaaa;
    left: -20px;
    color: #585252; 
}

.contacts-item {
    margin-left: 28px;
    margin-bottom: 20px;
   
    list-style: none;
    display: flex;
    align-items: center;
}

.contacts-item-time {
    display: flex;
}

.address-span {
    margin-left: 101px;
    text-transform: none;
}

.address-span i {
    margin-left: 160px;
    color: #7c7777;
    font-size: 15px;
}

.tel-span a {
    margin-left: 77px;
    text-decoration: none;
    color: #474242;
}

.site-span a {
    margin-left: 113px;
    text-decoration: none;
    color: #338ad1;
    text-transform: none;
}

.email-span a {
    margin-left: 102px;
    text-decoration: none;
    color: #338ad1;
    text-transform: none;
}

.time-span {
    margin-left: 45px;
    
    color: #474242;
    text-transform: none;
}

.contacts-item-site p {
    position: relative;
}

.contacts-item-site p::before {
    position: absolute;
    content: "\f0ac"; 
    font-family: "FontAwesome";
    color: #aaaaaa;
    left: -20px;
    color: #585252;
}

.contacts-item-tel p {
    position: relative;
}

.contacts-item-tel p::before {
    position: absolute;
    content: "\f10b"; 
    font-family: "FontAwesome";
    color: #aaaaaa;
   
    left: -20px;
    color: #585252;
}

.contacts-item-email p {
    position: relative;
}

.contacts-item-email p::before {
    position: absolute;
    content: "\f1fa"; 
    font-family: "FontAwesome";
    color: #aaaaaa;
    left: -20px;
    color: #585252; 
}

.contacts-item-time p {
    position: relative;
}

.contacts-item-time p::before {
    position: absolute;
    content: "\f017"; 
    font-family: "FontAwesome";
    color: #aaaaaa;
    left: -20px;
    color: #585252;
}

.requisites-wrapper {
    text-transform: none;
    border: 1px dashed #aaaaaa;
    padding: 20px 30px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.centr-text {
    text-align: center;
}

.requisites-slogan {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}

.requisites-text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;

    margin-top: 40px;

    color: #aaaaaa;
}

.requisites-wrapper .color-span {
    color: #aaaaaa;
    margin-right: 40px;
    
}

.iframe-map {
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 40%;

    position: relative;
    height: 0;   
}

.iframe-map iframe {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    
}

/*footer*/

.footer {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
}

.copyright {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 15px;

    box-sizing: border-box;
}
.footer-wrap {
    padding-top: 20px;
    width: 100%;
    border-top: 2px dashed #c4bdbd;
}

.copyright-text {
    color: #474242;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.copyright-text h3 {
    margin: 0;
    padding: 0;
}

.footer-social {
    width: 200px;
    margin: 0 auto;
}

.footer-social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
    
.social-button  {
    border-radius: 50%;
    background-color: #474242;  
    display: block;
    position: relative;

    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.social-button-vk:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 15px;
    top: 9px;
    left: 4px;
    background-image: url("../img/cnt/vk-icon.png");
    background-repeat: no-repeat;
    background-size: 20px 13px;
    
}

.social-button-fb:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    top: 5px;
    left: 8px;
    background-image: url("../img/cnt/fb-icon.png");
    background-repeat: no-repeat;
    background-size: 12px 19px;
}

.social-button-insta:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 6px;
    left: 6px;
    background-image: url("../img/cnt/insta-icon.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    
}

.social-button-vk:active::after {
    opacity: 0.3;
}

.social-button-fb:active::after {
    opacity: 0.3;
}

.social-button-insta:active::after {
    opacity: 0.3;
}

/*Media*/

@media (max-width: 1200px){
    .container {
        max-width: 970px;
    }
    .site-navigation {
        width: 450px;
    }
    .site-navigation li {
        margin-right: 20px;
    }
    .main-header-logo {
        margin-right: 40px;
    }
    .feedback-link {
        padding: 60px 395px;
    }
    .main-item {
        padding: 0 5px;
    }
    .main-slogan {
        font-size: 37px;
    }
    .fix-200 {
        line-height: 80px;
        margin: 40px 0 0 0 ;
    }
    .menu-wrap-2::before {
        top: 90px;
    }
    .menu-item-text p {
        font-size: 20px;
    }
    .menu-item-text h3 {
        font-size: 18px;
    }
    .delivery-list {
        margin: 0 80px;
    }
    .delivery-list-2 {
        margin-bottom: 80px;
    }
    .contacts-list {
        margin: 0px 80px;
    }
    
    
}

@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
    .main-header-logo {
        margin-right: 20px;
        width: 180px;
    }
    .site-navigation {
        width: 370px;
    }
    .site-navigation li {
        margin-right: 15px;
    }
    .feedback-link {
        padding: 60px 285px;
    }
    .main-slogan {
        font-size: 28px;
    }
    .main-navigation {
        font-size: 12px;
        line-height: 18px;
    }
    .main-item {
        padding: 0 5px;
    }
    .fix-200 {
        font-size: 70px;
    }
    .menu-item-text h3 {
        font-size: 22px;
    }
    .menu-tomorrow-slogan::after {
        width: 190px;
        left: -198px;
    }
    .menu-tomorrow-slogan::before {
        width: 190px;
    }
    .delivery-list {
        margin: 0 60px;
    }
    .delivery-list-2 {
        margin-bottom: 80px;
    }
    .contacts-list {
        margin: 0 60px;
    }
    .requisites-wrapper {
        width: 560px;
        text-align: center;
    }
    .requisites-wrapper span {
       margin: 0;
       display: none;
    }
   
    .nav-tel {
    font-size: 14px;
}
    .footer-tel {
        font-size: 14px;
        width: 140px;
        margin: 0 auto;
       
        text-align: center;  
    }
    .nav-tel::before {
        top: 0;
        left: -13px;
    }
    .footer-tel::before {
        left: -10px;

    }
    .feedback h2 {
        margin-top: 27px;
        margin-left: 50px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #474242;
    }
    
    .feedback .your-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #474242;
    }
    
    .feedback-contacts li {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        padding: 0;  
    }
    
    .feedback-contacts input[type="text"] {
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(68, 68, 68, 0.5);
    }
    
    .feedback-contacts input[type="tel"]:invalid {
        border-color: #e74246;
    }
    
    .your-text textarea {
        padding: 14px;
    }
    
    .feedback-area {
        box-sizing: border-box;
        
        margin-top: 12px;
        padding-left: 16px;
        padding: 0;
        width: 300px;
        height: 90px;
        border: 2px solid #d7dcde; 
        border-radius: 3px;
        outline: none;
    }
    
    .login-area { 
        padding: 14px;
        box-sizing: border-box;
        margin-top: 12px;
        
        width: 300px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px; 
        outline: none;
    }
    .contact-tel .tel-area:invalid {
        box-shadow: none;
        color: #e74246;
        border: 2px solid #e74246;
    }
    
    .tel-area { 
        box-sizing: border-box;
        margin-top: 12px;
        padding: 14px;
        width: 300px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px;
        outline: none;
    }
    
    .login-area:hover,
    .feedback-area:hover,
    .tel-area:hover {
        border: 2px solid #b4b9bb;
    }
    
    .login-area:focus,
    .feedback-area:focus,
    .tel-area:focus {
        border: 2px solid #000000;
    }
    
    .feedback {
        position: relative;
        width: 100%;
    
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal {
        position: fixed;
        display: none;
        top: 23%;
        left: 50%;
        margin-left: -210px;
    
        width: 400px;
        height: 530px;
        
        z-index: 20;
    
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    }
    
    .modal-show {
        display: block;   
        animation: bounce 0.6s;
    }
    .modal-error {
        animation: shake 0.6s;
    }
    
    .modal-close {
        top: 40px;
        left: 345px;
        position: absolute;
        width: 21px; 
        height: 21px;
        position: absolute;
        cursor: pointer;
    
        background-image: url("../img/dec/close-cross.png");
        background-repeat: no-repeat;
        opacity: 1;
        
        border: 0;
        background-color: rgb(253, 255, 253);
    }
    
    .modal-close:hover {
        opacity: 0.8;
    }
    
    .modal-close:active {
        opacity: 0.1;
    }
    
    .feedback-contacts {
        padding: 0;
        width: 300px;
        display: flex;  
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        list-style: none;
    }
    
    .your-name {
        margin-bottom: 27px;
        display: flex;
        flex-direction: column;
    }
    
    .your-tel {
        display: flex;
        flex-direction: column;
    }
    
    .your-text {
        width: 300px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 27px;
    }
}

@media (max-width: 767px){
    .container {
        max-width: 530px;
        padding: 0px 5px;
    }
    .main-header-logo {
        margin-right: 10px;
        margin-left: 0;
        width: 155px;
    }
    .site-navigation {
        width: 200px;
        justify-content: center;
        
        margin: 0 auto;
    }
    .all-navigation {
        font-size: 10px;
        align-items: center;
    }
    .site-navigation li {
        margin-right: 16px;
        margin-bottom: 4px;
    }
    .nav-tel {
        font-size: 12px;
    }
    .nav-tel::before {
        top: 0px;
        left: -15px;
    }
    .slider-container {
        min-height: 345px;
    }
    .slider-text {
        width: 80%;
    }
    .slider-title {
        font-size: 45px;
        line-height: 35px;
        font-weight: 700;
        color: #201919;
    }
    .feedback-link {
        padding: 60px 185px;
    }
    .menu-tomorrow-slogan::before {
        width: 100px;
    }
    .menu-tomorrow-slogan::after {
        width: 100px;
        left: -110px;
    }
    .row {
        flex-direction: column;
    }
    .main-column {
        padding: 30px;
        min-height: 272px;
    }
    .main-slogan {
        font-size: 40px;
    }
    .main-slogan p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fix-200  {
        font-size: 90px;
    }
    .menu {
      
    }
    .menu-container {
        padding-top: 15px;
     
    }
    .menu-wrap {
        margin-bottom: 40px;
    }
    .menu-wrap-2 {
        margin: 0 20px;
    }
    .menu-wrap-2::before {
        top: 120px;
        
    }
    .menu-wrap-3::before {
        top: 120px;
        
    }
    .delivery-list {
        margin: 0 20px;
    }
    .delivery-list-2 {
        margin-bottom: 20px;
    }
    .delivery {
        padding-top: 15px;
    }
    .delivery-container {  
        margin-bottom: 20px;
    }
    .contacts {
        padding-top: 15px;
    }
    .contacts-container {
        margin-bottom: 20px;
    }
    .contacts-title {
        margin-bottom: 20px;
    }
    .contacts-item {
        flex-direction: column;
        margin: 0;
    }
    .contacts-item::before {
        left: -15px;
    }
    .contacts-list {
        margin: 10px;
        font-size: 14px;
    }
    .address-span {
        margin: 0;
    }
    .address-span i {
        margin: 60px;
    }
    .tel-span a {
        margin: 0;
    }
    .site-span a {
        margin: 0;
    }
    .email-span a {
        margin: 0;
    }
     .copyright-text {
        flex-direction: column;
    }
    .requisites-wrapper {
        width: 260px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    
    .requisites-wrapper span {
        display: none;
    }
    .requisites-text {
        margin-top: 10px;
    }
    .footer-tel {
        font-size: 14px;
        width: 140px;
        margin: 0 auto;
       
        text-align: center;  
    }
    .footer-tel::before {
        left: -10px;

    }
    .feedback h2 {
        margin-top: 27px;
        margin-left: 50px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: #474242;
    }
    
    .feedback .your-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #474242;
    }
    
    .feedback-contacts li {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        padding: 0;  
    }
    
    .feedback-contacts input[type="text"] {
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(68, 68, 68, 0.5);
    }
    
    .feedback-contacts input[type="tel"]:invalid {
        border-color: #e74246;
    }
    
    .your-text textarea {
        padding: 14px;
    }
    
    .feedback-area {
        box-sizing: border-box;
        
        margin-top: 12px;
        padding-left: 16px;
        padding: 0;
        width: 300px;
        height: 90px;
        border: 2px solid #d7dcde; 
        border-radius: 3px;
        outline: none;
    }
    
    .login-area { 
        padding: 14px;
        box-sizing: border-box;
        margin-top: 12px;
        
        width: 300px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px; 
        outline: none;
    }
    .contact-tel .tel-area:invalid {
        box-shadow: none;
        color: #e74246;
        border: 2px solid #e74246;
    }
    
    .tel-area { 
        box-sizing: border-box;
        margin-top: 12px;
        padding: 14px;
        width: 300px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px;
        outline: none;
    }
    
    .login-area:hover,
    .feedback-area:hover,
    .tel-area:hover {
        border: 2px solid #b4b9bb;
    }
    
    .login-area:focus,
    .feedback-area:focus,
    .tel-area:focus {
        border: 2px solid #000000;
    }
    
    .feedback {
        position: relative;
        width: 100%;
    
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal {
        position: fixed;
        display: none;
        top: 23%;
        left: 50%;
        margin-left: -210px;
    
        width: 400px;
        height: 530px;
        
        z-index: 20;
    
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    }
    
    .modal-show {
        display: block;   
        animation: bounce 0.6s;
    }
    .modal-error {
        animation: shake 0.6s;
    }
    
    .modal-close {
        top: 40px;
        left: 345px;
        position: absolute;
        width: 21px; 
        height: 21px;
        position: absolute;
        cursor: pointer;
    
        background-image: url("../img/dec/close-cross.png");
        opacity: 1;
        background-repeat: no-repeat;
        
        border: 0;
        background-color: rgb(253, 255, 253);
    }
    
    .modal-close:hover {
        opacity: 0.8;
    }
    
    .modal-close:active {
        opacity: 0.1;
    }
    
    .feedback-contacts {
        padding: 0;
        width: 300px;
        display: flex;  
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        list-style: none;
    }
    
    .your-name {
        margin-bottom: 27px;
        display: flex;
        flex-direction: column;
    }
    
    .your-tel {
        display: flex;
        flex-direction: column;
    }
    
    .your-text {
        width: 300px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 27px;
    }
    
}
@media (max-width: 543px){
    .container {
        max-width: 375px;
        padding: 0 5px;
    }
    .main-header-logo {
        margin-right: 4px;
        width: 150px;
        margin-left: 2px;
    }
    .main-navigation {
        font-size: 10px;
        line-height: 14px;
    }
    .site-navigation {
        width: 110px;
        margin-top: 6px;
        justify-content: center;
    }
    .all-navigation {
        font-size: 8px;
    }
    .site-navigation li {
        margin-right: 10px;
        margin-bottom: 2px;
    }
    .nav-tel {
        font-size: 8px;
    }
    .nav-tel::before {
        top: 0px;
        left: -10px;
    }
    .slider-container {
        min-height: 360px;
    }
    .slider-text {
        width: 80%;
    }
    .slider-title {
        font-size: 35px;
        line-height: 30px;
        font-weight: 700;
        color: #201919;
    }
    .feedback-link {
        padding: 40px 108px;
    }
    .menu-tomorrow-slogan {
        font-size: 14px;
    }
    .main-menu-list {
        font-size: 18px;
    }
    .menu-tomorrow-slogan::before {
        width: 70px;
        left: 210px;
        top: 25px;
    }
    .menu-tomorrow-slogan::after {
        width: 70px;
        left: -84px;
        top: 25px;
    }
    .row {
        flex-direction: column;
    }
    .main-column {
        padding: 30px;
    }
    .main-slogan {
        font-size: 30px;
    }
    .fix-200 {
        font-size: 70px;
        margin-top: 40px;
    }
    .menu {
        
    }
    .menu-container {
        margin-bottom: 20px;
    }
    .menu-wrap {
        margin-bottom: 40px;
    }
    .menu-wrap-2 {
        margin: 0 10px;
    }
    .menu-wrap-2::before {
        top: 120px;
    }
    .delivery-list {
        margin: 0 20px;
    }
    .delivery-list-2 {
        margin-bottom: 20px;
    }
    .delivery-container {
      
    }
    .contacts-container {
       
    }
    .contacts-title {
        margin-bottom: 20px;
    }
    .contacts-item {
        flex-direction: column;
        margin: 0;
    }
    .contacts-item::before {
        left: -15px;
    }
    .contacts-list {
        margin: 10px;
        font-size: 14px;
    }
    .address-span {
        margin: 0;
    }
    .address-span i {
        margin: 60px;
    }
    .tel-span a {
        margin: 0;
    }
    .site-span a {
        margin: 0;
    }
    .email-span a {
        margin: 0;
    }
    .copyright-text {
        flex-direction: column;
    }
    .footer-tel {
        font-size: 14px;
        width: 140px;
        margin: 0 auto;
       
        text-align: center;  
    }
    .footer-tel::before {
        left: -10px;
    }
    .feedback h2 {
        margin-top: 17px;
        margin-left: 50px;

        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        color: #474242;
    }
    
    .feedback .your-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #474242;
    }
    
    .feedback-contacts li {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        padding: 0;  
    }
    
    .feedback-contacts input[type="text"] {
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(68, 68, 68, 0.5);
    }
    
    .feedback-contacts input[type="tel"]:invalid {
        border-color: #e74246;
    }
    
    .your-text textarea {
        padding: 14px;
    }
    
    .feedback-area {
        box-sizing: border-box;
        
        margin-top: 12px;
        padding-left: 16px;
        padding: 0;
        width: 200px;
        height: 70px;
        border: 2px solid #d7dcde; 
        border-radius: 3px;
        outline: none;
    }
    
    .login-area { 
        padding: 14px;
        box-sizing: border-box;
        margin-top: 12px;
        
        width: 200px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px; 
        outline: none;
    }
    .contact-tel .tel-area:invalid {
        box-shadow: none;
        color: #e74246;
        border: 2px solid #e74246;
    }
    
    .tel-area { 
        box-sizing: border-box;
        margin-top: 12px;
        padding: 10px;

        width: 200px;
        height: 40px;
        border: 2px solid #d7dcde;
        border-radius: 3px;
        outline: none;
    }
    
    .login-area:hover,
    .feedback-area:hover,
    .tel-area:hover {
        border: 2px solid #b4b9bb;
    }
    
    .login-area:focus,
    .feedback-area:focus,
    .tel-area:focus {
        border: 2px solid #000000;
    }
    
    .feedback {
        position: relative;
        width: 100%;
    
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal {
        position: fixed;
        display: none;
        top: 20%;
        left: 50%;
        margin-left: -150px;
    
        width: 300px;
        height: 450px;
        
        z-index: 20;
    
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
    }
    
    .modal-show {
        display: block;   
        animation: bounce 0.6s;
    }
    .modal-error {
        animation: shake 0.6s;
    }
    
    .modal-close {
        top: 24px;
        left: 260px;
        position: absolute;
        width: 21px; 
        height: 21px;
        position: absolute;
        cursor: pointer;
    
        background-image: url("../img/dec/close-cross.png");
        background-repeat: no-repeat;
        opacity: 1;
        
        border: 0;
        background-color: rgb(253, 255, 253);
    }
    
    .modal-close:hover {
        opacity: 0.8;
    }
    
    .modal-close:active {
        opacity: 0.1;
    }
    
    .feedback-contacts {
        padding: 0;
        width: 300px;
        display: flex;  
        flex-direction: column;
        list-style: none;
        justify-content: space-between;
        list-style: none;
    }
    
    .your-name {
        margin-bottom: 17px;
        display: flex;
        flex-direction: column;
    }
    
    .your-tel {
        display: flex;
        flex-direction: column;
    }
    
    .your-text {
        width: 300px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 17px;
    }

}


/*KeyFrames*/
@keyframes bounce {
    0% {
    transform: translateY(-2000px);
    }
  
    70% {
    transform: translateY(30px);
    }
  
    90% {
    transform: translateY(-10px);
    }
  
    100% {
    transform: translateY(0);
    }
}
  
  @keyframes shake {
    0%,
    100% {
    transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
}
