body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.header-page h1 {
    text-transform: none;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    color: #000000;

}

.main-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
}

.site-navigation  {
    list-style: none;
}

.site-navigation a  {
    color: #000000;
}

.user-basket  {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-basket:hover,
.user-basket:focus {
    background-color: #98b4a8;
}

.offers-list {
    list-style: none;
}

.offers-item {
    text-align: left;
}

.offers-item h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.offers-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}


.button:hover,
.button:focus,
.button:active {
    background-color: #98b4a8;
}

.button-red {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;


    background-color: #fb565a ;
}

.button-green {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;

    background-color: #00ca74 ;
}

.button-yellow {
    text-transform: uppercase;

    
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;

    background-color: #efc84a;
}

.product-filter-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
    width: 260px;
    height: 50px;
    border: none;
}

.feedback-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
    width: 260px;
    height: 50px;
    border: none;
}

.main-footer h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.main-footer h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.social {
    list-style: none;
}

.product-filter h3 {
    text-transform: uppercase;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #000000;
}

.product-filter-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #283136;

    list-style: none;
}

.catalog-list {
    list-style: none;
}

.feedback h2 {
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    text-align: left;
}

.feedback p {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-align: left; 
}

.feedback-area {
    width: 760px;
    height: 118px;
    border: 2px solid #d7dcde;

}


/*Флексы*/

html,
body {
    min-width: 1440px;
    min-height: 2576px;

}

.main-header {
     margin-bottom: 80px;

}

.main-navigation {
    width: 100%;
}
.main-header-logo {
    width: 160px;
    height: 65px;
    margin-left: 140px;
    margin-top: 49px;
 }

.site-navigation {
    width: 438px;
    margin-top: 83px;
    margin-right: 500px;
    padding: 0;
    list-style: none;
}

.user-basket {
    margin-top: 83px;
    margin-right: 140px;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
}

.catalog-header .main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-wrapper {
  width: 100%;
}

.offers-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.catalog-columns {
    display: flex;   
}

.right-column {
    margin-top: 60px;
    margin-left: 20px;
}

.left-column {
    margin-left: 140px;
}

.discount {
    margin-left: 539px;
}

.footer-social {
    display: flex;
}








