body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
}

.main-navigation a {
    text-decoration: none;
}

.main-navigation h1 {
    margin-top: 80px;
    text-transform: none;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.main-navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}
.main-header {
    background-color: #eeeeee;
    
}

.catalog-header {
    background-color: #eeeeee;
}

.site-navigation  {
    list-style: none;
}

.site-navigation a  {
    color: #000000;
}

.user-basket  {
    color: #000000;
}

.offers-list {
    list-style: none;
}

.offers-item {
    text-align: left;
}

.offers-item h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.offers-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
}

.button-red {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;
    cursor: pointer;
    
    border-radius: 3px;
    background-color: #fb565a ;
}

.button-green {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;
    cursor: pointer;

    background-color: #00ca74 ;
    border-radius: 3px;
}

.button-yellow {
    text-transform: uppercase;

    
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    width: 160px;
    height: 50px;
    border: none;
    cursor: pointer;

    border-radius: 3px;
    background-color: #efc84a;
}

.product-filter-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
    width: 260px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.banner-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-on-map {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
    width: 219px;
    height: 50px;
    
    border: none;
    border-radius: 3px; 
    cursor: pointer;
}

.feedback-button {
    text-transform: uppercase;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;

    background-color: #fb565a;
    width: 260px;
    height: 50px;
    margin-left: 100px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.discount h2 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.discount h3 {
    margin-top: 5px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}


.product-filter h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    
}

.main-header {

    min-height: 545px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.catalog-header {
    display: flex;
    justify-content: center;
    min-height: 355px;  
}

.main-navigation {
    width: 100%;
    padding: 0;
}
.main-header-logo {
    width: 160px;
    height: 65px;
    padding: 0;
    
 }

.site-navigation {
    width: 438px;
    margin-right: 286px;
    margin-left: 202px;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
     
}

.basket-block {
    width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-basket-logo {
    display: block;
    margin-right: 26px;
    width: 15px;
    height: 15px;
    background-image: url("/img/dec/cart-icon1.png");
}

.container {
    width: 1160px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; 
}

.catalog-header .main-navigation {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.navigation-wrapper {
  width: 100%;
  
}

.main-navigation h1 {
    margin-top: 82px;
    margin-bottom: 116px;
}

.active a {
    padding-bottom: 10px;
    border-bottom: 2px solid #fb565a;
}

/*Ховеры*/

.main-header-logo img:hover {
    opacity: 80%;
}

.main-header-logo img:active {
    opacity: 30%;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {

    background-color: #d7373b;
}

.site-navigation a:hover {
    color: #fb565a;
}

.site-navigation a:active {
    color:rgba(0, 0, 0, 0.3);
}

.user-basket:hover {
    color: #fb565a;
}

.user-basket:active {
    color: rgba(0, 0, 0, 0.3);
}

.banner-button:hover {
    background-color:#e74246;
}

.banner-button:active {
    background-color:#d7373b;
    color: rgba(255, 255, 255, 0.3);

}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}
.button-red:hover {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.button-on-map:hover {
    background-color: #e74246;
}

.button-on-map:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.product-filter-button:hover {
    background-color: #dfdfdf;
}

.product-filter-button:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.paginator .paginator-page1:hover {
    background-color: #dfdfdf;
}

.paginator .paginator-page1:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.paginator .paginator-page2:hover {
    background-color: #dfdfdf;
}

.paginator .paginator-page2:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.paginator .paginator-page3:hover {
    background-color: #dfdfdf;
}

.paginator .paginator-page3:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.paginator .paginator-next:hover {
    background-color: #dfdfdf;
}

.paginator .paginator-next:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

/* Баннера*/


.banner-1 h2,
.banner-2 h2,
.banner-3 h2 {
    padding: 0;
    text-transform: none;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.banner-1 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 1129px;
    height: 413px;   
}

.banner-2 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 1159px;
    height: 430px;   
}

.banner-3 {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 1159px;
    height: 411px;   
}

.banner-1-text,
.banner-2-text,
.banner-3-text {
    text-align: left;
    padding: 0;
    margin-bottom: 18px;
}


.banner-1-text p,
.banner-2-text p,
.banner-3-text p {
    padding: 0;
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.banner-1 figure,
.banner-2 figure,
.banner-3 figure {
    margin: 0;
    padding: 0;  
}

.slide {
    background-color: #eeeeee;
}

/*Флексы*/

html,
body {
    width: 100%;
    height: 100vh;
}

.major,
.major-catalog {
   width: 100%;
}

/*Блок offers*/

.offers {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.offers-list {
    width: 1160px;
    padding: 0;

    display: flex;
    list-style: none; 
    
}

.offers-item figure {
    margin: 0;
    padding: 0;  
}

.offers-item h2 {
    margin-bottom: 27px;
    margin-top: 30px;
}

.offers-item p {
    margin-bottom: 35px;
}

.offers-item {
    list-style: none;
    padding: 0;
}

.offers-item:nth-child(1) {
    margin-right: 100px;
}

.offers-item:nth-child(2) {
    margin-right: 100px;
}

/*Реклама*/ 

.ad h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;  
}

.ad p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136;  
}

.ad {
    border-top: 2px solid #eeeeee;
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 1160px;
    margin-top: 80px;
    padding-top: 40px;
}

.offers-text {
    border-bottom: 2px solid #eeeeee;
    display: flex;
    align-content: center;
    justify-content: space-between;

    width: 1160px;
    padding: 0;
    padding-bottom: 76px;
    margin: 0;
    margin-top: 41px;
}

.orders {
    width: 429px;
    height: 160px;
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136; 
}

.orders h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
}

.orders-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders-list li {
    margin-bottom: 22px;
}

.statistics {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.statistics p {
    text-transform: uppercase;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    padding: 0;
    margin: 0;

    margin-left: 14px;
    margin-bottom: 49px;
}

.statistics-procent {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    width: 305px;
      
    display: flex;
    justify-content: space-between;

    font-weight: 700;
    font-size: 45px;
    line-height: 10px;
    color: #000000;
}

.statistics-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #283136;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-between;
}

.ad-block-logo {
    width: 1160px;
    padding: 0;
    margin: 0;
    padding-top: 46px;
    padding-bottom: 44px;
    margin-bottom: 80px;

    border-bottom: 2px solid #eeeeee;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ad-block-logo .htmlacademy {
    width: 199px;
    height: 68px;
    background-image: url("/img/dec/htmlacdemy-logo.png");
}

.ad-block-logo .htmlacademy:hover {
    width: 199px;
    height: 68px;
    background-image: url("/img/dec/htmlacdemy-logo-naved.png");
}

.ad-block-logo .htmlacademy:active {
    width: 199px;
    height: 68px;
    background-image: url("/img/dec//htmlacdemy-logo-active.png");
}

.ad-block-logo .borodinskiy {
    width: 209px;
    height: 90px;
    background-image: url("/img/dec/borodinski-logo.jpg");
}

.ad-block-logo .borodinskiy:hover {
    width: 209px;
    height: 90px;
    background-image: url("/img/dec/borodinsli-logo-naved.jpg");
}

.ad-block-logo .borodinskiy:active {
    width: 209px;
    height: 90px;
    background-image: url("/img/dec/borodinsli-logo-active.jpg");
}

.ad-block-logo .pink {
    width: 185px;
    height: 52px;
    background-image: url("/img/dec/pink-logo.jpg");
}

.ad-block-logo .pink:hover {
    width: 185px;
    height: 52px;
    background-image: url("/img/dec/pink-logo-naved.jpg");
}

.ad-block-logo .pink:active {
    width: 185px;
    height: 52px;
    background-image: url("/img/dec/pink-logo-active.jpg");
}


.ad-block-logo .mishka {
    width: 173px;
    height: 84px;
    background-image: url("/img/dec/mishka-logo.jpg");
}

.ad-block-logo .mishka:hover {
    width: 173px;
    height: 84px;
    background-image: url("/img/dec/mishka-logo-naved.jpg");
}

.ad-block-logo .mishka:active {
    width: 173px;
    height: 84px;
    background-image: url("/img/dec/mishka-logo-active.jpg");
}

/*главная-Каталога*/

.main-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-filter {
    margin: 0;
    padding: 0;
    margin-right: 140px;
    margin-top: 60px;
    
}

.checkbox-indicator img {
    vertical-align: middle;
    opacity: 40%;
}

.range input {
    width: 219px;
    height: 2px;
    margin-top: 40px; 
}

.range-area {
    width: 261px;
    height: 81px;
    margin-bottom: 13px;
    margin-top: 46px;
    border-radius: 3px;
    background-color: #eeeeee;
    text-align: center;    
}    

.outputs output {
    background-color: #eeeeee;
    width: 80px;
    height: 38px;
    margin-right: 33px;
    
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    border-radius: 3px;
    text-align: center;
}

.outputs {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    
}

.outputs p {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 12px;
}   

.product-filter-list {
    margin: 0;
    padding: 0;
    margin-bottom: 50px; 
}

.product-filter-list-s {
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
}

.product-filter-item {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;

    text-align: left;
    
    color: #283136;

    list-style: none;
}

.sort-list {
   display: flex; 
   list-style: none; 
   padding: 0;
   margin: 0;
   margin-top: 60px;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
}

.sort-item {
   padding: 0;
   margin: 0;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: #000000;
   text-transform: uppercase;
}

.sort-item h3 {
   padding: 0;
   margin: 0;
   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   color: #000000;
   text-transform: uppercase;
}


.sort-item:nth-child(3) {
    margin-right: 25px;
    margin-left: 27px;
    opacity: 30%;
}

.sort-item:nth-child(4) {
    opacity: 30%;
}

.sort-item:nth-child(5) {
    margin-right: 18px;
    margin-left: 46px;
}

.sort-item:first-child {
    margin-right: 267px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item a {
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
}

.browser1 {
    opacity: 12%;
}

.catalog-columns {
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
    display: flex; 
    justify-content: center;
    list-style: none;
    
}
    
.products {
    width: 760px;
    margin: 0;
    padding: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;  
    margin: 0;
    margin-top: 59px;
}

/*Меню слудующая страница*/

.paginator {
    margin: 0;
    padding: 0;
    margin-bottom: 60px; 
}

.paginator .paginator-page1 {

    border: 3px solid #dbdbdb;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

.paginator a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    color: #000000;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;

    min-width: 50px;
    height: 50px;
    margin-right: 11px;
    border: none;
    background-color: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.paginator .paginator-next {
    
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;

    width: 260px;
    height: 50px;
    margin-right: 11px;
    border: none;
    background-color: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}


/*Футер*/

.footer-social {
    margin-top: 69px;
}

.main-footer {
    width: 100%; 

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.discount {
    display: flex;
    flex-direction: column;
    margin-left: 139px;
    justify-content: space-evenly;

    margin-top: 78px;
    padding: 0;
    
}

.footer-social ul {
    padding: 0;
    width: 259px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    
}
    
.social-button  {
    border-radius: 50%;
    background-color: #e1e1e1;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 79px;
}

/* Карта и Всплывающее окно */

.map {
    position: relative;
    padding: 0;
    margin: 0;
}

.window-on-map {
    width: 319px;
    height: 308px;
    text-align: center;

    background-color: #ffffff;

    position: absolute;

    top: 54px;
    left: 140px;
}

.window-on-map h3 {
    padding: 0;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.window-on-map p {
    padding: 0;
    margin: 0;
    
    margin-bottom: 37px;

    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.map-marker {
    position: absolute;

    top:89px;
    left: 820px;
}

.feedback h2 {
    margin-top: 73px;
    margin-left: 100px;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.feedback .your-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.contacts li {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 0;  
}

.feedback-area {
    box-sizing: border-box;
    opacity: 50%;
    margin-top: 12px;
    padding: 0;
    width: 760px;
    height: 118px;
    border: 2px solid #d7dcde;  
}

.login-area {
    opacity: 50%;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 0;
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
}

.email-area {
    opacity: 50%;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 0;
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
}

.feedback {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-item {
    position: absolute;

    top: -140px;
    
    width: 960px;
    height: 590px;
    margin: 0;

    display: flex;
    flex-direction: column; 
    align-content: center;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-close {
    top: 78px;
    left: 849px;
    position: absolute;
    width: 21px; 
    height: 21px;
    position: absolute;
    cursor: pointer;

    background-image: url("/img/dec/close-cross.svg");
    opacity: 30%;
    border: 0;
}

.contacts {
    padding: 0;
    margin-left: 100px;
    margin-top: 0px;
    width: 760px;
    display: flex;  
    list-style: none;
    justify-content: space-between;
}

.your-name {
    display: flex;
    flex-direction: column;
}

.your-mail {
    display: flex;
    flex-direction: column;
}

.your-text {
    width: 760px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
    margin-top: 27px;
}
